body {
 	margin: 0px;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	color: #2c3e50;
}

a {
    color: #3498db;
    border-bottom: 1px solid transparent;
}

.menu {
	background-color: #34495e; 
	border-bottom: 5px solid #d35400;
	height: 80px;
}

.navcl {
	background-color: #34495e;
	border: 0px;
}

.nav.navbar-nav{
    margin-left: 10%;
}


.site-name {
	font-size: 24px;
	color: #d35400;
}

.site-slogan {
	color: white;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	text-align: right;
}

.menu-link-item {
	padding: 28px 9px 28px 9px;
}

.navbar-default .navbar-nav> .menu-link >a {
	color: white;
}

.site-img-logo {
	display: inline-block;
}

.site-info-logo {
	width: 160px;
    display: inline-block;
    vertical-align: middle;
}

#header .menu-link-item {
    color: #ecf0f1;
    font-size: 18px;
    padding-right: 9px;
    padding-left: 9px;
    padding: 28px 8px;
    border: 0 none;

}

#header .menu-link-item:hover {
    background: #c0392b;
}

#header .menu-link {
    float: left;
    position: relative;
    display: block;

}

#header .site-slogan {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

#header .site-name {
    color: #d35400;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}

#header .phone-number {
    color: #ecf0f1;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    float: right;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 10px;
}

#top-wrapper {
    overflow: hidden;
    background: #ecf0f1;
    margin-bottom: 0;
}

.pp-about-block .teaser-items {
    width: 630px;
    margin-top: 60px;
}

.pp-about-block .teaser-items .teaser-title {
    font-size: 41.4px;
}

#top-wrapper .teaser-title {
    margin-bottom: 20px;
}

.pp-about-block .teaser-items .description {
    font-size: 16px;
}

#top-wrapper .container {
    background-position: 520px 100%;
    position: relative;
    height: 640px;
    background: url(../img/about_new.png) no-repeat 180px 100%;

}

#top-wrapper .container:before {
    content: "";
    position: absolute;
    left: 540px;
    top: 0;
    display: block;
    height: 0;
    width: 500px;
    border-bottom: 640px solid #e74c3c;
    border-left: 205px solid transparent;
    border-right: 40px solid transparent;
}

#top-wrapper .container:after {
    left: 1010px;
    content: "";
    position: absolute;
    left: 590px;
    bottom: 20px;
    display: block;
    height: 640px;
    width: 640px;
    background: url(../img/logo-red-brand.png) no-repeat 0 0;
}

.view-about-us-photo-and-video- {
    margin-top: 40px;
}

.view-about-us-photo-and-video- .field-video {
    margin-bottom: 40px;
}

.view-about-us-photo-and-video- .field-video .colorbox img {
    display: block;
    max-width: 100%;
    height: auto;
}

.view-about-us-photo-and-video- .field-video + .field-images {
    float: left;
    width: 50%;
}

.view-about-us-photo-and-video- .field-images .colorbox {
    margin: 0 30px 40px 0;
}

.title-line {
    margin-right: -15px;
    position: relative;
    overflow: hidden;
    color: #2c3e50;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 24px;
}

.title-line:before {
    margin-left: -50%;
    text-align: right;
}

.title-line:before, .title-line:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 49%;
    height: 1px;
    content: '\a0';
    background-color: #2c3e50;
}

.staff-teaser {
    margin-bottom: 20px;
}


.media > .pull-left {
    margin-right: 10px;
}

.staff-teaser .field-type-image {
    width: 80px;
}

.staff-teaser .field-name-body {
    margin: 20px 0;
}

.view-about-us-photo-and-video- .field-images .colorbox {
    display: inline-block;
    margin: 0 30px 40px 0;
    border: none;
}

.pp-contact-form .mailbox-header {
    display: none;
}

.pp-contact-form .mailbox-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 33px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.5384;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.pp-contact-form .mailbox-submit {
    position: relative;
    margin-bottom: 40px;
}

.pp-contact-form .mailbox-submit .fa {
    position: absolute;
    top: 11px;
    left: 20px;
    font-size: 18px;
    color: #fff;
}

.pp-contact-form .mailbox-submit input {
    display: block;
    width: 100%;
    padding-left: 50px;
    text-align: left;
    font-size: 18px;
    color: #fff;
    background: #c0392b;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.pp-contacts .contact-header {
    font-size: 18px;
    margin-bottom: 20px;
}


#social {
	background: #ecf0f1;
	margin-top: 20px
}

#social .about {
	margin-top: 20px;
    margin-bottom: 20px;
    color: #2c3e50;
}

#social .social-icon{
	position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

}

#social ul {
	list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: -15px;
    margin-right: -15px;
}

#social a {
	font-size: 3em;
	height: 100px;
    padding-top: 20px;
    display: block;
    width: 100%;
    font-size: 3em;
    color: #fff;
    border: 0;
}

#social .twitter {
	background-color: #55acee;
}

#social .facebook {
	background-color: #3b5998;
}

#social .google {
	background-color: #212425;
}

#social .skype {
	background-color: #00aff0;
}

#footer {
    color: #ecf0f1;
    background: #34495e;
    overflow: hidden;
    height: 80px;
}

#footer .footer-logo {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}

#footer #footerlogo {
    display: block;
    background: url(../img/logo-mono.jpg) no-repeat; 
    height: 80px;
    width: 230px;
    color: #ecf0f1;
    border-bottom: 1px solid transparent;
}

#footer .footer-address {
    margin-top: 20px;
    margin-bottom: 20px;
} 

#footer a {
    color: #ecf0f1;
}

#footer .phone {
    text-transform: uppercase;
    font-size: 14px;
    color: #ecf0f1;
}

#footer .pp-label {
    font-weight: bold;
    margin-right: 5px;
    font-weight: bold;
}

#header .menu-link-item {
    color: #ecf0f1;
    font-size: 18px;
    padding-right: 9px;
    padding-left: 9px;
    padding: 28px 8px;
    border: 0 none;

}

#header .menu-link-item:hover {
    background: #c0392b;
}

#header .menu-link {
    float: left;
    position: relative;
    display: block;

}

#header .site-slogan {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

#header .site-name {
    color: #d35400;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}

#header .phone-number {
    color: #ecf0f1;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    float: right;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 10px;
}


#header .navbar-nav {
    margin-left: 78px;
}
