body {
 	margin: 0px;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;

}


.menu {
	background-color: #34495e; 
	border-bottom: 5px solid #d35400;
	height: 80px;



}

.navcl {
	background-color: #34495e;
	border: 0px;



}




.site-name {
	font-size: 24px;
	color: #d35400;
	


}

.site-slogan {
	color: white;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	text-align: right;


}

.menu-link-item {
	padding: 28px 9px 28px 9px;


}

.navbar-default .navbar-nav> .menu-link >a {
	color: white;
}

.site-img-logo {
	
    display: inline-block;

}

.site-info-logo {
	width: 160px;
    display: inline-block;
    vertical-align: middle;
}